$white: #ffffff;
$casinegro: #282828;
$gray: #65737e;
$lightyellow: #FFFCB1;
$verde: green;
$gris: #eee;
$verdecito: #00b200;
$yellow: #ffff33;
$rose: #DDC5A2;
$choco: #261d1d;
$cacao: #301B28;
$tofi: #B6452C;
$ivory: #F1F3C3;
$caramelo: #C9A66B;
$pie: #500805;

$may: uppercase;
$negrita: bolder;

$font0: 'Oswald', sans-serif;
$font1: 'Shadows Into Light', cursive;
$font2: 'Playfair Display', serif;
$font3: 'Amatic SC', cursive;
